::-webkit-scrollbar {
    width: 17px;
    cursor: pointer;
}

@media (max-width: 560px) {
    ::-webkit-scrollbar {
        width: 10px;
    }
}

::-webkit-scrollbar-track {
    background-color: #b1cc9a;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(98, 148, 98);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(52, 105, 62);
}
